<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <servlet>
        <servlet-name>LoginClServlet</servlet-name>
        <servlet-class>controller.LoginClServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginClServlet</servlet-name>
        <url-pattern>/LoginClServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>UserClServlet</servlet-name>
        <servlet-class>controller.UserClServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserClServlet</servlet-name>
        <url-pattern>/UserClServlet</url-pattern>
    </servlet-mapping>

</web-app>